* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 200;
}

.container {
  margin: 0 auto;
  padding: 0 66px;
}

.nav {
  width: 100%;
  padding-top: 20px;
}

.logo {
  float: left;
}

.logo>p {
  font-family: Khula;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
}

.burger__line {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.nav-burger__menu {
  float: right;
}

.background__image {
  padding-top: 50px;
}


.imagin {
  background-image: url('../images/cover2.jpg');
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 8% 10%;
}

/* *************** MAIN PAGE SECTION ************ */
.flex_container-content {
  padding-top: 64px;
  display: flex;
  width: 100%;
}

/* *** RIGHT SIDE *** */
.flex_item_right-content {
  flex: 1;
  padding-left: 80px;
}

.author__image {
  width: 85px;
  height: 89px;
  background: #C4C4C4;
  float: left;
}

.about__info {
  padding-left: 135px;
}

.about__info>p {
  font-size: 14px;
  line-height: 19px;
  color: #9A9494;
}

.about__list {
  display: flex;
}

.about_li {
  list-style-type: none;
  font-size: 16px;
  line-height: 25px;
}

.about__list-list>li {
  margin: 15px;
}

.about__list-list2>li {
  margin: 15px;
  color: #9A9494;
}

/* *** LEFT SIDE *** */
.flex_item_left {
  width: 30%;
}

.page__header {
  float: right;
}

.page__header>h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.page__header>p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #9A9494;
}
