@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}
/* ========= FADE IN ================= */
body {

  -moz-animation: fadein 2s; /* Firefox */
   -webkit-animation: fadein 2s; /* Safari and Chrome */
   -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* ********** NAV MENU  **********  */
.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #9A9494;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 66px;
}

.nav {
  position: absolute;
  width: 100%;
  padding-top: 20px;
}

.logo>p {
  font-family: Khula;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
}

.logo {
  float: left;
}

.burger__line {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.nav-burger__menu {
  float: right;
}


.old__version>a {
  position: fixed;
  bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-decoration: none;
  color: #9A9494;
}

.old__version>a:hover {
  color: #000000;
}
/* *************** ABOUT PAGE ************ */
.background__image {
  padding-top: 70px;

}


.imagin {
  background-image: url('../images/cover2.jpg');
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 8% 10%;
}
/*
.flex_container-content {
  padding-top: 64px;
  display: flex;
  width: 100%;
} */

/* *** RIGHT SIDE ***
.flex_item_right-content {
  flex: 1;
  padding-left: 80px;
}*/



.about__info>p {
  font-size: 14px;
  line-height: 19px;
  color: #9A9494;
}

.about__list {
  display: flex;
}

.about_li {
  list-style-type: none;
  font-size: 16px;
  line-height: 25px;
}

.about__list-list>li {
  margin: 15px;
}

.about__list-list2>li {
  margin: 15px;
  color: #9A9494;
}

/* *** LEFT SIDE *** */


.page__header>h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.page__header>p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #9A9494;
}


/* ****************** portvolio page ********* */

/* ********* PROGRESS BOX ********** */
.portfolio__section {
  padding-top: 40px;
  padding-bottom: 60px;

}



.work__picture {
  float: left;
  width: 115px;
  height: 115px;
  background: #C4C4C4;

}



.work__title {

  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.work__text {
  padding-top: 10px;
}

.work__text>p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9A9494;
}

.work__view>a {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #17BED2;
  text-decoration: none;
}

.work__view>a:hover {
  text-decoration: underline;
  color: red;
}
