@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 200;
}

.container {
  margin: 0 auto;
  padding: 0 66px;
}

.nav {
  width: 100%;
  padding-top: 20px;
}

.logo {
  float: left;
}

.logo>p {
  font-family: Khula;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
}

.burger__line {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.nav-burger__menu {
  float: right;
}

.background__image {
  padding-top: 50px;
}

/* ********** NAV MENU  **********  */
.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #9A9494;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.imagin {
  background-image: url('../images/cover2.jpg');
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 8% 10%;
}

/* *************** MAIN PAGE SECTION ************ */
.flex_container {
  padding-top: 64px;
  display: flex;
  width: 100%;
}

/* *** LEFT SIDE *** */
.flex_item_left {
  width: 30%;
}

.page__header {
  float: right;
}

.page__header>h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.page__header>p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #9A9494;
}

/* *** RIGHT SIDE *** */
.flex_item_right {
  flex: 1;
  padding-left: 80px;
}

.flex_item_right_pdd20px {
  padding-left: 0px;
   !important
}

.author__image {
  width: 85px;
  height: 89px;
  background: #C4C4C4;
  float: left;
}

.about__info {
  padding-left: 135px;
}

.about__info-0px {
  padding-left: 80px;
   !important
}

.about__info>p {
  font-size: 14px;
  line-height: 19px;
  color: #9A9494;
}

.about__list {
  display: flex;
}

.about_li {
  list-style-type: none;
  font-size: 16px;
  line-height: 25px;
}

.about__list-list>li {
  margin: 15px;
}

.about__list-list2>li {
  margin: 15px;
  color: #9A9494;
}

/* ********* PROGRESS BOX ********** */
.portfolio__section {
  padding-top: 40px;
  padding-bottom: 60px;
}

.work__box {
  padding: 60px;
}

.work__picture {
  float: left;
  width: 115px;
  height: 115px;
  background: #C4C4C4;
}

.work__container {
  padding-left: 145px;
}

.work__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.work__text {
  padding-top: 10px;
}

.work__text>p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9A9494;
}

.work__view>a {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #17BED2;
  text-decoration: none;
}

.work__view>a:hover {
  text-decoration: underline;
  color: red;
}

/* ************** MODAL ************** */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 50px 20px 50px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_content {
  display: flex;
  width: 100%;
}

.modal__title>h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.modal__subtitle>h1 {
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #9A9494;
}

.modal_item_left>p {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  color: #9A9494;
}

.modal__tags>p {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

/* *** LEFT SIDE *** */
.modal_item_left {
  padding-right: 40px;
  width: 70%;
}

.modal_item_right {
  flex: 1;
  border-left: solid 2px #9A9494;
  ;
  padding-left: 10px;
}

.modal__author-info {
  display: flex;
  padding-top: 30px;
}

.modal__right-list>li {
  list-style-type: none;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
  font-weight: 400;
}

.modal__right-list-list>li, a {
  text-decoration: none;
  color: #9A9494;
  font-weight: 400;
}

.modal__right-list-list>li>a:hover {
  text-decoration: underline;
  color: #000;
}

.modal__right-list>li:last-child {
  padding-top: 60px;
}
