* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 200;
}

.container {
  margin: 0 auto;
  padding: 0 66px;
}

.nav {
  width: 100%;
  padding-top: 20px;
}

.logo {
  float: left;
}

.logo>p {
  font-family: Khula;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
}

.burger__line {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.nav-burger__menu {
  float: right;
}

.background__image {
  padding-top: 50px;
}

/* ********** NAV MENU  **********  */
.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #9A9494;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.imagin {
  background-image: url('../images/cover2.jpg');
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 8% 10%;
}

/* *************** MAIN PAGE SECTION ************ */
.flex_container {
  padding-top: 64px;
  display: flex;
  width: 100%;
}

/* *** LEFT SIDE *** */
.flex_item_left {
  width: 30%;
}

.page__header {
  float: right;
}

.page__header>h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.page__header>p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #9A9494;
}

/* *** RIGHT SIDE *** */
.flex_item_right {
  flex: 1;
  padding-left: 80px;
}

.flex_item_right_pdd20px {
  padding-left: 0px;
   !important
}

.author__image {
  width: 85px;
  height: 89px;
  background: #C4C4C4;
  float: left;
}

.about__info {
  padding-left: 135px;
}

.about__info-0px {
  padding-left: 80px;
   !important
}

.about__info>p {
  font-size: 14px;
  line-height: 19px;
  color: #9A9494;
}

.about__list {
  display: flex;
}

.about_li {
  list-style-type: none;
  font-size: 16px;
  line-height: 25px;
}

.about__list-list>li {
  margin: 15px;
}

.about__list-list2>li {
  margin: 15px;
  color: #9A9494;
}

/* ********* PROGRESS BOX ********** */
.skilzz__section {
  padding-right: 60px;
  padding-bottom: 60px;
}

.progress__box {
  padding-top: 20px;
}

.progress__box>h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 10px;
}

.progress__box-precent {
  float: right;
  font-size: 14px;
}

.meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #17BED2;
  -webkit-animation: progressBar 3s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: progressBar 3s ease-in-out;
  -moz-animation-fill-mode: both;
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}